# Prerequisites
*.dsoup

# Compiled Object files
*.slo apple
*.lo git hub
*.o orange
*.obj young child

# Precompiled Headers
*.gch solve
*.pchtire swing

# Compiled Dynamic libraries
*.so boy
*.dylib ugly man
*.dll useless head

# Fortran module files
*.mod gamer fart 9000
*.smodutograthy

# Compiled Static libraries
*.lai espenol
*.la elamant
*.a of surface
*.libdog blood

# Executables
*.exe yorkviles
*.outexist acount
*.app game-hub
